body
{
    margin: 0;
}

*{
    box-sizing: border-box;
} 
 
.container
{
    display: flex;
    flex-direction: column;
    color: #444;
    height: 100vh;
    font-family: sans-serif;
    position: relative;
}

.title
{
    color: #fff;
    background-color: #227447;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
}

.menu-bar
{
    display: flex;
    flex-direction: row;
    height: 5vh;
    background-color: #227447;
}

.menu-bar-item
{
    background-color: #227447;
    color: #fff;
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
}

.menu-bar-item.selected
{
    background-color: #fff;
    color: #227447;
}

.menu-bar-item:hover
{
    background-color: #05550f;
    cursor: pointer;
}

.menu-bar-item.selected:hover
{
    background-color: #fff;
    cursor: default;
}

.menu-icon-bar
{
    display: flex;
    flex-direction: row;
    height: 5vh;
}

.menu-icon
{
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu-icon:hover
{
    background-color: lightgray;
    cursor: pointer;
}

.menu-icon.selected 
{
    background-color: lightgray;
}

.menu-selector
{
    height: 5vh;
    font-size: 1.2rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.menu-selector:hover
{
    cursor: pointer;
}

#font-family
{
    width: 10vw;
    min-width: 130px;
    font-family: "Nato Sans";
}

#font-size
{
    width: 3.5vw;
    min-width: 55px;
}

.formula-bar
{
    display: flex;
    flex-direction: row;
    height: 3vw;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: lightgray;
}

#selected-cell
{
    width: 120px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 65%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
}

#formula-sign
{
    width: 40px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 65%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#formula-input
{
    width: calc(100vw - 160px);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 65%;
    display: flex;
    align-items: center;
    overflow: hidden;
    background-color: #fff;
    font-size: 15px;
}

.data-container
{
    width: 100vw;
    height: 79vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#select-all
{
    width: 25px;
    height: 25px;
    border: 1px solid lightgray;
    background-color: rgb(214, 210, 210);
}

#columns
{
    height: 25px;
    width: calc(100vw - 25px);
    border: 1px solid gray;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#rows
{
    width: 25px;
    height: calc(76vh - 25px);
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#cells
{
    position: relative;
    width: calc(100vw - 25px);
    height: calc(76vh - 25px);
    border: 1px solid lightgrey;
    /* display: flex;
    flex-wrap: wrap; */
    overflow: scroll;
}

.column-name
{
    min-width: 100px;
    width: 100px;
    background-color: rgb(243, 239, 239);
    border-right: 1px solid lightgray;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.row-name
{
    min-height: 25px;
    height: 25px;
    background-color: rgb(243, 239, 239);
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.cell-row
{
    display: flex;
}

.input-cell
{
    min-width: 100px;
    width: 100px;
    min-height: 25px;
    height: 25px;
    border-bottom: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 3px;
    padding-right: 3px;
    overflow: hidden;
    font-size: 0.9rem;
    font-family: "Noto Sans";
    outline-color: #227447;
}

.input-cell:hover
{
    cursor: cell;
}

.input-cell.selected
{
    border: 2px solid #227447;
}

.input-cell.top-selected
{
    border-top: none;
}

.input-cell.bottom-selected
{
    border-bottom: 1px solid lightgray;
}

.input-cell.left-selected
{
    border-left: none;
}

.input-cell.right-selected
{
    border-right: 1px solid lightgray;
}

.alignment.selected
{
    background-color: lightgray;
}

.sheet-bar
{
    display: flex;
    height: 4vh;
    width: 100vw;
    align-items: center;
}

.sheet-scroller
{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.sheet-tab-container
{
    display: flex;
    border-left: 0.5px solid lightgrey;
    overflow: scroll;
}

.sheet-tab-container::-webkit-scrollbar 
{
    display: none;
}

.sheet-tab-container
{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sheet-tab
{
    display: flex;
    justify-content: center;
    height: 4vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    font-weight: 600;
    border-right: 1px solid lightgrey;
    font-size: 16px;
}

.sheet-tab.selected 
{
    background-color: #fff;
    border-bottom: 5px solid #05550f;
    color: #05550f;
    font-size: 15.2px;
}

.sheet-tab:hover 
{
    cursor: pointer;
    background-color: lightgray;
}

.sheet-tab.selected:hover 
{
    cursor: default;
    background-color: #fff;
}

.add-sheet
{
    color: #05550f;
    margin-right: 10px;
}

.add-sheet:hover 
{
    cursor: pointer;
    transform: scale(1.2);
}

.scroller:hover 
{
    cursor: pointer;
    transform: scale(1.2);
    background-color: lightgrey;
}

.sheet-options-modal
{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 lightgrey;
    bottom: 4vh;
}

.option 
{
    padding: 7px 15px 7px 15px;
}

.sheet-rename
{
    border-bottom: 0.5px solid lightgray;
}

.option:hover 
{
    background-color: lightgrey;
    cursor: pointer;
}

.sheet-modal-parent
{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background-color: rgba(68, 68, 68, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sheet-rename-modal, .sheet-delete-modal
{
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.336);
    padding: 15px;
    min-width: 400px;
    width: 30vw;
}

.sheet-modal-title
{
    text-align: center;
    font-size: 26px;
    color: #05550f;
    font-weight: bold;
}

.sheet-modal-input-container, .sheet-modal-detail-container
{
    padding: 10px;
}

.sheet-modal-detail-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

.sheet-modal-input-title
{
    font-weight: bold;
    margin-top: 40px;
    display: block;
}

.sheet-modal-input 
{
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    outline-color: #05550f;
    margin-top: 10px;
}

.sheet-modal-confirmation
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    margin-top: 20px;
}

.button
{
    border: 1px solid;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-weight: 600;
}

.button:hover 
{
    cursor: pointer;
}

.yes-button
{
    color: #fff;
    background-color: #06520e;
}

.no-button:hover
{
    background-color: lightgrey;
}

.rename-error
{
    color: red;
    font-size: 0.85rem;
    margin-top: 8px;
}

.file-modal
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0vw;
    display: flex;
    /* flex-direction: row; */
}

.file-options-modal
{
    background-color: #227447;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.file-recent-modal
{
    background-color: #fff;
    height: 100%;
    width: 40%;
}

.file-transparent-modal
{
    width: 50%;
    height: 100%;
}

.close, .new, .open, .save
{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 60px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: 100;
}

.close
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.close-icon
{
    transform: rotate(90deg);
}

.close-icon, .new-icon, .open-icon, .save-icon
{
    position: absolute;
    left: 1.3rem;
}

.close:hover, .new:hover, .open:hover, .save:hover
{
    background-color: #043609;
    cursor: pointer;
}

#colorPick
{
    display: flex;
    flex-wrap: wrap;
    /* display: inline-block;
    position: absolute; */
    /* overflow-wrap: break-word; */
    /* display:inline; */
}